<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Document</title>
  <link rel="shortcut icon" type="image/png" href="./../images/E Doc Image.png">
</head>
<body><img src="http://localhost:8080/ipfs/<%= userData %>" />
</body>