<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Document</title>
  <link rel="shortcut icon" type="image/png" href="./../images/logo.png">
</head>
<body><img src="data:image/jpeg;base64,<%- data.docImage %>" />
</body>